<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>All posts</h1>
                </div>
            </div class="col-sm-12">
            <% entries.forEach(entry=> { %>
                <div class="tweet">
                    <div class="circular--landscape">
                        <a href="/profile/<%=entry.user._id%>">
                            <img
                                src="data:entry.user/<%=entry.user.img.contentType%>;base64, <%=entry.user.img.data.toString('base64')%>">
                        </a>
                    </div>
                    <a href="/profile/<%=entry.user._id%>">
                        <%=entry.user.name%>
                    </a>
                    <p>
                        <%= entry.content %>
                    </p>
                    <p>
                        <%= entry.date %>
                    </p>
                    <a href="/follow/<%=entry.user._id%>">
                        Follow
                    </a>
                    <a href="/unfollow/<%=entry.user._id%>">
                        Un-Follow
                    </a>
                </div>
                <% }) %>
        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>