<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Welcome <%=username%>
                    </h1>
                    <form method="POST">
                        Content:<br />
                        <textarea name="content"></textarea><br />
                        <input type="submit" value="Save" />
                    </form>
                    <a href="/logout">Log out</a>
                </div>
            </div class="col-sm-4">
            <% entries.forEach(entry=> { %>
                <div class="entry">
                    <a href="/<%=entry.user.username%>">
                        <%= entry.user.username%>
                    </a>
                    <p>
                        <%= entry.content %>
                    </p>
                    <p>
                        <%= entry.date %>
                    </p>
                </div>
                <% }) %>
        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>