<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Profile of username: <%=username%>
            </h1>

            <form method="POST" enctype="multipart/form-data">
                Name:<input type="text" name="name" id="name" required><br>
                <div>
                    <label for="image">Upload Image</label>
                    <input type="file" id="image" name="image" value="" required>
                </div>
                <input type="submit" value="OK">
            </form>
        </div>
        <h1 id="colorname">Current Name: <%= name%>
        </h1>
        <div>
            <h1>Current Profile Picture:</h1>
        </div>
        <div>
            <div>
                <div class="circular--landscape">
                    <img src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>"
                        id="profile_img">
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>