<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Create a profile for <%=username%>
            </h1>

            <form method="POST" enctype="multipart/form-data">
                <div class="form-group form-control-lg">
                    <label for="name">First name:</label>
                    <input class="form-control" type="text" name="name" id="name" required><br>
                </div><br>
                <div class="form-group form-control-lg">
                    <label for="name">Last name:</label>
                    <input class="form-control" type="text" name="lastname" id="lastname" required><br>
                </div><br>
                <div class="form-group form-control-lg">
                    <label for="email">Input Email:</label>
                    <input class="form-control" type="email" id="email" name="email" value="">
                </div></br>
                <div class="form-group form-control-lg">
                    <label for="image">Upload Image:</label>
                    <input class="form-control-file" type="file" id="image" name="image" value="" required></br>
                </div><br><br>
                <button type="submit" class="btn btn-primary">Update profile</button>
            </form>
        </div>
        <h1>First Name: <%= name%>
        </h1>
        <h1>Last Name: <%= lastname%>
        </h1>
        <h1>Email: <%=email%>
        </h1>
        <div>
            <h1>Current Profile Picture:</h1>
        </div>
        <div>
            <div class="circular--landscape">
                <img src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>"
                    id="profile_img">
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>