<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 id="headergreen">This is <%=entries[0].user.name%>
                            <%=entries[0].user.lastname%>'s profile</h1><br>
                    <h1>
                        First Name: <%= entries[0].user.name%>
                    </h1>
                    <h1>
                        Last Name: <%= entries[0].user.lastname%>
                    </h1>
                    <h1>
                        Email: <%=entries[0].user.email%>
                    </h1>
                    <h1>
                        Profile Picture:
                    </h1>
                    <div class="circular--landscape">
                        <img
                            src="data:entries[0].user/<%=entries[0].user.img.contentType%>;base64, <%=entries[0].user.img.data.toString('base64')%>">
                    </div>
                    <h1>Followers: <%=entries[0].user.followers.length%>
                    </h1>
                    <h1>Following: <%=entries[0].user.following.length%>
                    </h1>
                </div>
            </div>
            <% entries.forEach(entry=> { %>
                <div class="tweet">
                    <div class="circular--landscape">
                        <a href="/profile/<%=entry.user._id%>">
                            <img
                                src="data:entry.user/<%=entry.user.img.contentType%>;base64, <%=entry.user.img.data.toString('base64')%>">
                        </a>
                    </div>
                    <a href="/profile/<%=entry.user._id%>">
                        <%=entry.user.name%>
                    </a>
                    <p>
                        <%= entry.content %>
                    </p>
                    <p>
                        <%= entry.date %>
                    </p>
                    <a href="/follow/<%=entry.user._id%>">
                        Follow
                    </a>
                    <a href="/unfollow/<%=entry.user._id%>">
                        Un-Follow
                    </a>
                </div>
                <% }) %>
        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>