<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is <%=entries[0].user.name%>
                    <%=entries[0].user.lastname%>'s profile</h1><br>
            <h1>First Name: <%= entries[0].user.name%>
            </h1>
            <h1>Last Name: <%= entries[0].user.lastname%>
            </h1>
            <h1>Email: <%=entries[0].user.email%>
            </h1>
            <div class="circular--landscape">
                <img
                    src="data:entries[0].user/<%=entries[0].user.img.contentType%>;base64, <%=entries[0].user.img.data.toString('base64')%>">
            </div>
        </div>

        <div>
            <% entries.forEach(entry=> { %>
                <div class="tweet">
                    <div class="circular--landscape">
                        <img
                            src="data:entry.user/<%=entry.user.img.contentType%>;base64, <%=entry.user.img.data.toString('base64')%>">
                    </div>
                    <p>
                        <%= entry.user.name%>
                    </p>
                    <p id="colorname">
                        <%= entry.content %>
                    </p>
                    <p>
                        <%= entry.date %>
                    </p>
                    <p>
                        Follows: <%= entry.user.following.length %>
                    </p>
                    <p>
                        Followers: <%= entry.user.followers.length %>
                    </p>

                    <a href="/follow/<%=entry.user._id%>">
                        Follow
                    </a>
                    <a href="/unfollow/<%=entry.user._id%>">
                        Un-Follow
                    </a>
                </div>
                <% }) %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>