<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is <%=profileId%>'s profile</h1><br>
        </div>
        <div>
            <%=profileId%> follows this many users: <%=following%>
        </div>
        <div>
            <%=profileId%> has this many followers: <%=followers%>
        </div>
        <div>
            <% entries.forEach(entry=> { if(profileId===entry.user.name){%>
                <div class="tweet">
                    <div class="circular--landscape">
                        <img
                            src="data:entry.user/<%=entry.user.img.contentType%>;base64, <%=entry.user.img.data.toString('base64')%>">
                    </div>
                    <p>
                        <%= entry.user.name%>
                    </p>
                    <p>
                        <%= entry.content %>
                    </p>
                    <p>
                        <%= entry.date %>
                    </p>
                    <p>
                        <%= entry.user._id %>
                    </p>
                    <a href="/follower/<%=entry.user._id%>">
                        Follow
                    </a>
                </div>
                <% }}) %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>